<h1>Registry App</h1>
<h4>
  This is the home page for the
  Registry application. The user can add a new registry or new coordinator or new participants.
</h4>
<hr>
<div class="row">
	<div class="col-md-4">
		<%= button_to "Add Registry", new_registry_path, :method => "get", class: 'btn btn-primary' %>
	</div>
	<div class="col-md-4">
		<%= button_to "Add Coordinator", new_coordinator_path, :method => "get", class: 'btn btn-primary' %>
	</div>
	<div class="col-md-4">
		<%= button_to "Add Participant", new_participant_path, :method => "get", class: 'btn btn-primary' %>
	</div>
</div>
