
  <h1 class="title">Coordinators</h1>
  
  <hr>

   <h3 class="field">
      <%= link_to new_coordinator_path do%>
      <span class="icon is-small has-text-link">New Coordinator <i class="fa fa-plus"></i></span>
      <% end %>
  </h3>

  <% @coordinators.each do |coordinator| %>
    <div class="card" style="margin-bottom: 5rem;">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to coordinator do%>
            <%= coordinator.emailaddress %>
          <% end %>    
        </h4>
        <%= link_to 'Edit', edit_coordinator_path(coordinator) %>
        <%= link_to 'Destroy', coordinator, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
    <% end %>











