<p>
  <strong>Name:</strong>
  <%= @coordinator.name %>
</p>

<p>
  <strong>Emailaddress:</strong>
  <%= @coordinator.emailaddress %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @coordinator.phonenumber %>
</p>
