
<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= f.input :name %>
    <%= f.input :gender %>
    <%= f.input :dob, :label => "Date of birth" %>
    <%= f.input :dateofenrollment, :label => "Date of Enrollment" %>
    <%= f.input :emailaddress, :label => "Email Address" %>
    <%= f.input :phonenumber, :label => "Phone Number" %>
    <%= f.input :remarks %>
    <label> Select one coordinator </label>
    <%= collection_select(:participant, :coordinator, Coordinator.all, :emailaddress, :emailaddress, prompt: true)%>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
