  <h1 class="title">Participants</h1>
  
  <hr>

   <h3 class="field">
      <%= link_to new_participant_path do%>
      <span class="icon is-small has-text-link">New Participant <i class="fa fa-plus"></i></span>
      <% end %>
  </h3>

  <% @participants.each do |participant| %>
    <div class="card" style="margin-bottom: 5rem;">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to participant do%>
            <%= participant.name %>
          <% end %> 
          <h5 class="text-muted"><%= participant.gender %></h5>
          <h5 class="text-muted"><%= participant.dob %></h5>
        </h4>
        <%= link_to 'Edit', edit_participant_path(participant) %>
        <%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
    <% end %>


