<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @participant.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @participant.dob %>
</p>

<p>
  <strong>Date of enrollment:</strong>
  <%= @participant.dateofenrollment %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @participant.emailaddress %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @participant.phonenumber %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @participant.remarks %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @participant.coordinator %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
