
<%= simple_form_for(@registry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :isactive, :label => "Check to open registry" %>

      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
