
  <h1 class="title">Registries</h1>
  
  <hr>

   <h3 class="field">
      <%= link_to new_registry_path do%>
      <span class="icon is-small has-text-link">New Registry <i class="fa fa-plus"></i></span>
      <% end %>
  </h3>

  <%= will_paginate @registries %>

  <% @registries.each do |registry| %>
    <div class="card" style="margin-bottom: 5rem;">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to registry do%>
            <%= registry.name %>
          <% end %>    
        </h4>
        <h5 class="text-muted"><%= registry.location %></h5>
        <%= link_to 'Edit', edit_registry_path(registry) %>
        <%= link_to 'Destroy', registry, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
    <% end %>
  <%= will_paginate @registries %>
