<p>
  <strong>Name:</strong>
  <%= @registry.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @registry.location %>
</p>


<% if @registry.isactive %>
	<%= link_to 'Add Participants to Registry', new_enrollment_to_registry_path %>
<% else %>
	<p> This registry is inactive </p>
<% end %>
