<h1><%= plural_table_name.titleize %></h1>

<table class="responsive nowrap table table-hover" id="dttb-<%= plural_table_name %>" data-sort="true" data-source="<%%= url_for(format: :json)%>">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th data-data="<%= attribute.name %>"><%= attribute.human_name %></th>
<% end -%>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_name %>_path %>