
<%= simple_form_for(@enrollment_to_registry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <label> Select one or more participants </label>
     <%= collection_select(:enrollment_to_registry, :participant_id, Participant.all, :id, :name, {}, { :multiple => true} )%>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
