<h1>Editing Enrollment To Registry</h1>

<%= render 'form', enrollment_to_registry: @enrollment_to_registry %>

<%= link_to 'Show', @enrollment_to_registry %> |
<%= link_to 'Back', enrollment_to_registries_path %>
