<h1>Enrollment To Registries</h1>

<table class="responsive nowrap table table-hover" id="dttb-enrollment_to_registries" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Enrollment To Registry', new_enrollment_to_registry_path %>