<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Registry App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to 'Registries', registries_path%></li>
        <li><%= link_to 'Coordinators', coordinators_path%></li>
        <li><%= link_to 'Participants', participants_path%></li>
      </ul>
    </nav>
  </div>
</header>